[submodule "submodules/foobar2000"]
	path = submodules/foobar2000
	url = https://github.com/TheQwertiest/foobar2000-sdk.git
[submodule "submodules/pfc"]
	path = submodules/pfc
	url = https://github.com/TheQwertiest/pfc.git
[submodule "submodules/wtl"]
	path = submodules/wtl
	url = https://git.code.sf.net/p/wtl/git
[submodule "submodules/discord-rpc"]
	path = submodules/discord-rpc
	url = https://github.com/discordapp/discord-rpc.git
[submodule "submodules/acfu-sdk"]
	path = submodules/acfu-sdk
	url = https://github.com/3dyd/acfu-sdk.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodules/range"]
	path = submodules/range
	url = https://github.com/ericniebler/range-v3.git
[submodule "submodules/fb2k_utils"]
	path = submodules/fb2k_utils
	url = https://github.com/TheQwertiest/fb2k_utils.git
[submodule "submodules/cpr"]
	path = submodules/cpr
	url = https://github.com/libcpr/cpr.git
