---
BasedOnStyle: Mozilla
AccessModifierOffset: '-4'
AlwaysBreakAfterDefinitionReturnType: 'false'
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'false'
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: 'true'
BinPackParameters: 'true'
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakBeforeInheritanceComma: 'true'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '0'
ConstructorInitializerIndentWidth: '4' 
ContinuationIndentWidth: '4'
Cpp11BracedListStyle: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IncludeCategories: 
  # precompiled headers
  - Regex:           '^<stdafx.h|pch.h|precompiled.h>'
    Priority:        -1
  # "header"
  - Regex:           '"[[:alnum:]_]+'
    Priority:        1
  # <dependency/header>
  - Regex:           '^<(acfu-sdk|columns_ui-sdk|fmt|foobar2000|nlohmann|nonstd|range)/'
    Priority:        4 
  # <dependency_header>
  - Regex:           '^<(atl.*\.h|discord_rpc\.h)>'
    Priority:        5
  # <subdir/header.h>|<subdir/header.hpp>
  - Regex:           '<[[:alnum:]_]+/.+\.(h|hpp)>'
    Priority:        2
  # <header.h>|<header.hpp>
  - Regex:           '<[[:alnum:]_]+\.(h|hpp)>'
    Priority:        3
  # <header>
  - Regex:           '<[[:alnum:]_]+>'
    Priority:        6
IncludeIsMainRegex: '$'
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: '4'
IndentWrappedFunctionNames: false
Language: Cpp
MacroBlockBegin: "^BEGIN_*"
MacroBlockEnd: "^END_*"
MaxEmptyLinesToKeep: '1'
PointerAlignment: Left
ReflowComments: 'true'
SortIncludes: 'false'
SpaceAfterCStyleCast: 'false'
SpaceAfterTemplateKeyword : 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: 'false'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'false'
SortIncludes: 'true'
Standard: Cpp11
TabWidth: '4'
TypenameMacros: ['STDMETHOD', 'STDMETHODIMP_']
UseTab: Never

...
